.inventory {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    margin-top: 1rem;
  }

  .inventory h1 {
    text-align: center;
    font-size: 1.5rem;
  }

  .content {
    font-size: 1rem;
  }

.cars-div img {
    width: 350px;
}

.cars-div{
    display: flex;
    /* flex-direction: column; */
    /*justify-content: space-between;*/
    flex-wrap: wrap;
    gap: 30px;
}

table{
  width: 32%;
}